<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk Matrix</title>
   {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div id="menu_top">
   <ul>

                <li><a href="{% url 'login' %}" accesskey="4" title="">ADMINISTRATOR</a></li>
                <li><a href="{% url 'contact' %}" accesskey="3" title="">CONTACT US</a></li>
                <li><a href="{% url 'login' %}" accesskey="2" title="">RBI</a></li>
                <li class="current_page_item"><a href="{% url 'home' %}" accesskey="1" title="">HOMEPAGE</a></li>
   </ul>
</div>
<div id="slogan">
     <h1>CORTEK  PROJECT</h1>
</div>
<div id="line"></div>
<div id="main">
    <div id="main-left">
        <ul>
            <h2>Proposal Management</h2>
            <li><a href="{% url 'resultpof' df.id_id %}">DF Result</a></li>
            {% if not isTank %}
                <li><a href="{% url 'resultca' df.id_id %}">CA Result</a></li>
            {% elif isShell %}
                <li><a href="{% url 'resultShell' df.id_id %}">CA Result</a></li>
            {% else %}
                <li><a href="{% url 'resultBottom' df.id_id %}">CA Result</a></li>
            {% endif %}
            <li><a href="{% url 'proposalDisplay' ass.componentid_id %}">Back to Component</a></li>
        </ul>
    </div>
    <div id="main-right">
    <!---<div id=Adiv > -->
    <!--<form method="post" class="form-control"> -->
         {% csrf_token %}
        <div style="padding-left: 10px; padding-top: 10px">
<canvas id="myCanvas" width="800" height="600"></canvas>
<script>
    //Lấy đối tượng Canvas
    var canvas = document.getElementById('myCanvas');

    // Chọn đối tượng vẽ 2D
    var ctx = canvas.getContext('2d');
    var i = 100;
    // Tiến hành vẽ
    ctx.strokeStyle = 'black';
    ctx.fillStyle = 'orange';
    ctx.fillRect(0+i, 0, 100, 100);
    ctx.strokeRect(0+i, 0, 100, 100);
    ctx.fillStyle = 'orange';
    ctx.fillRect(100+i ,0,100,100);
    ctx.strokeRect(100+i,0,100,100)
    ctx.fillStyle = 'orange';
    ctx.fillRect(200+i,0,100,100);
    ctx.strokeRect(200+i,0,100,100)
    ctx.fillStyle = 'red';
    ctx.fillRect(300+i,0,100,100);
    ctx.strokeRect(300+i,0,100,100)
    ctx.fillStyle = 'red';
    ctx.fillRect(400+i,0,100,100);
    ctx.strokeRect(400+i,0,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(0+i,100,100,100);
    ctx.strokeRect(0+i,100,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(100+i,100,100,100);
    ctx.strokeRect(100+i,100,100,100)
    ctx.fillStyle = 'orange';
    ctx.fillRect(200+i,100,100,100);
    ctx.strokeRect(200+i,100,100,100);
    ctx.fillStyle = 'orange';
    ctx.fillRect(300+i,100,100,100);
    ctx.strokeRect(300+i,100,100,100)
    ctx.fillStyle = 'red';
    ctx.fillRect(400+i,100,100,100);
    ctx.strokeRect(400+i,100,100,100)
    ctx.fillStyle = 'green';
    ctx.fillRect(0+i,200,100,100);
    ctx.strokeRect(0+i,200,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(100+i,200,100,100);
    ctx.strokeRect(100+i,200,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(200+i,200,100,100);
    ctx.strokeRect(200+i,200,100,100)
    ctx.fillStyle = 'orange';
    ctx.fillRect(300+i,200,100,100);
    ctx.strokeRect(300+i,200,100,100)
    ctx.fillStyle = 'orange';
    ctx.fillRect(400+i,200,100,100);
    ctx.strokeRect(400+i,200,100,100)
    ctx.fillStyle = 'green';
    ctx.fillRect(0+i,300,100,100);
    ctx.strokeRect(0+i,300,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(100+i,300,100,100);
    ctx.strokeRect(100+i,300,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(200+i,300,100,100);
    ctx.strokeRect(200+i,300,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(300+i,300,100,100);
    ctx.strokeRect(300+i,300,100,100);
    ctx.fillStyle = 'orange';
    ctx.fillRect(400+i,300,100,100);
    ctx.strokeRect(400+i,300,100,100)
    ctx.fillStyle = 'green';
    ctx.fillRect(0+i,400,100,100);
    ctx.strokeRect(0+i,400,100,100)
    ctx.fillStyle = 'green';
    ctx.fillRect(100+i,400,100,100);
    ctx.strokeRect(100+i,400,100,100)
    ctx.fillStyle = 'green';
    ctx.fillRect(200+i,400,100,100);
    ctx.strokeRect(200+i,400,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(300+i,400,100,100);
    ctx.strokeRect(300+i,400,100,100)
    ctx.fillStyle = 'yellow';
    ctx.fillRect(400+i,400,100,100);
    ctx.strokeRect(400+i,400,100,100);

    ctx.beginPath();
    ctx.fillStyle="Blue";
    ctx.fillRect({{ API2.x }}-15,{{ API2.y }}-15,30,30);

    ctx.beginPath();
    ctx.arc({{ API1.x }},{{ API1.y }},15,0,2 * Math.PI, true);
    ctx.fillStyle="LightGray";
    ctx.fill();

    ctx.beginPath();
    ctx.fillStyle="Purple";
    ctx.fillRect({{ API3.x }}-15,{{ API3.y }}-10,30,20);

    ctx.beginPath();
    ctx.fillStyle="Red";
    ctx.fillRect(635,100,150,25);
    ctx.strokeRect(635,100,150,25);
    ctx.font = "18px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("High", 685, 120);
    ctx.fillStyle="orange";
    ctx.fillRect(635,125,150,25);
    ctx.strokeRect(635,125,150,25);
    ctx.font = "18px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("Medium High", 650, 145);
    ctx.fillStyle="yellow";
    ctx.fillRect(635,150,150,25);
    ctx.strokeRect(635,150,150,25);
    ctx.font = "18px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("Medium ", 680, 170);
    ctx.fillStyle="green";
    ctx.fillRect(635,175,150,25);
    ctx.strokeRect(635,175,150,25);
    ctx.font = "18px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("Low ", 690, 195);
    ctx.font = "20px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("RISK ", 690, 90);

    ctx.beginPath();
    ctx.arc(650,300,15,0,2 * Math.PI, true);
    ctx.fillStyle="LightGray";
    ctx.fill();
    ctx.beginPath();
    ctx.fillStyle="Blue";
    ctx.fillRect(635,335,30,30);
    ctx.font = "15px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText(": API1", 670, 305);
    ctx.fillText(": API2", 670, 355);

    ctx.beginPath();
    ctx.fillStyle="Purple";
    ctx.fillRect(635,390,30,20);
    ctx.font = "15px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText(": API3", 670, 405);

    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("A", 50+i, 540);

    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("B", 150+i, 540);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("C", 250+i, 540);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("D", 350+i, 540);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("E", 450+i, 540);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("1", 60, 450);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("2", 60, 350);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("3", 60, 250);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("4", 60, 150);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("5", 60, 50);
    ctx.font = "25px Georgia";
    ctx.fillStyle = "Black";
    ctx.fillText("Consequense", 280, 570);

    ctx.font = '25px Georgia';
    ctx.save();
    ctx.translate(35,300);
    ctx.rotate(-0.5*Math.PI);

    var rText = 'Probability';
    ctx.fillText(rText , 0, 0);
    ctx.restore();

    var rWidth = ctx.measureText(rText).width;

</script>
    </div>
    <div align="center">
<table id = "t02">
    <thead>
        <tr>
            <th>&emsp;&emsp;</th>
            <th>&emsp;API1&emsp;</th>
            <th>&emsp;API2&emsp;</th>
            <th>&emsp;API3&emsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&emsp;DamageFactor</td>
            <td>&emsp;{{ DF1 }}</td>
            <td>&emsp;{{ DF2 }}</td>
            <td>&emsp;{{ DF3 }}</td>
        </tr>
        <tr>
            <td>&emsp;FinancialCost ,$</td>
            <td>&emsp;{{ ca }}</td>
            <td>&emsp;{{ ca }}</td>
            <td>&emsp;{{ ca }}</td>
        </tr>
    </tbody>

</table>
 </div>
    <!--- </form> --->
    <!---</div>-->
    </div>
</div>
</body>
</html>